@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Shrikhand&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat';
    height: 100%;
    width: 100%;
    
}

main {
    overflow-x: hidden;
}

.typed-cursor {
    font-size: 2em;
    color: #322653;
}