@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Shrikhand&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat';
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: #61677A;
}

.typed-cursor {
    font-size: 2em;
    position: relative;
    left: 20%;
    color: #322653;
}

