.main {
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section {
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.one {
  background-color: #272829;
  color: white;
}

.two {
  background-color: white;
  color: black;
}

.oneText {
  position: relative;
  font-size: 2.5rem;
  text-shadow: 0 0 .8rem #bbb;
}

.oneText::after {
  content: attr(data-text);
  position: absolute;
  top: .1rem;
  left: 0;
  transform-origin: bottom;
  transform: rotateX(180deg);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(0, #555 0, transparent 68%);
  line-height: .9;
  text-shadow: none;
}

.welcome {
  left: 15%;
}

.name {
  left: 18%;
}

.text {
  position: relative;
  left: 20%;
  font-size: 2em;
}

.typing {
  color: #8062D6;
}

@media screen and (min-width: 598px) {
  .section {
    width: 598px;
  }
}

@media screen and (min-width: 768px) {
  .section {
    width: 768px;
  }
}

@media screen and (min-width: 1028px) {
  .section {
    width: 1028px;
  }
}