.nav {
  position: sticky;
  top: 0;
  z-index: 1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #61677A;
}

.bars {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  transition: .3s;
}

.bars:hover {
  background-color: #272829;
  height: 100%;
  cursor: pointer;
}

.darker {
  background-color: #272829;
}

.normal {
  background-color: #61677A;
}

.socials {
  display: flex;
  gap: 1.5rem;
  padding: 0 1.5rem;
}

.header .link:visited {
  color: #272829;
}

.socials .icon:hover {
  color: #272829;
  transform: scale(1.1);
  cursor: pointer;
}

.icon {
  color: white;
  transition: transform .4s, border-bottom .2s, padding-bottom .2s, color .2s;
}

.socials .icon:hover {
  border-bottom: .25rem solid white;
  padding-bottom: .5rem;
}

.link {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navLinks {
  display: flex;
  position: absolute;
  width: 30%;
  flex-direction: column;
  background-color: #444;
  font-size: 1.25rem;
}

.menuHidden {
  display: none;
}

.menuItem {
  width: 100%;
  padding: 1.5rem;
  background-color: #333;
  display: flex;
  align-items: center;
  transition: .3s;
}

.menuItem:hover {
  background-color: #222;
  cursor: pointer;
}

.singleLink {
  color: white;
  text-decoration: none;
}