@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Shrikhand&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat';
    height: 100%;
    width: 100%;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: #444;
    position: sticky;
    top: 0;
}

.socials {
    display: flex;
    gap: 1.5rem;
}

.nav .link:visited {
    color: black;
}

.icon:hover {
    color: black;
}

.icon {
    color: white;
    transition: transform .4s, border-bottom .2s, padding-bottom .2s, color .2s;
}

.socials .icon:hover {
    transform: scale(1.1);
    border-bottom: .25rem solid white;
    padding-bottom: 1.25rem;
}

.dash-main {
    background-color: white;
    height: 100%;
    width: 100%;
}

section {
    height: 25rem;
    width: 100%;
}

.content-container {
    height: 100%;
    width: 100%;
}

.introduction {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

p {
    font-size: 1.4rem;
}

.name {
    font-family: 'Shrikhand';
    font-size: 3rem;
}